{% extends "base.html" %}

{% block title %}Medical News - LiverWatch{% endblock %}

{% block content %}
<div class="news-container">
    <h2>Latest Medical News</h2>
    <div id="loading-indicator" style="display: none;">Loading...</div>
    <div class="news-cards" id="news-cards">
        <!-- News cards will be dynamically inserted here -->
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='medical_news.js') }}"></script>
{% endblock %}
